#header
  h4
    |  Источники:
  input#r1[type="radio" checked="checked" name="raz" value="1"]
  | Сs-137 
  input#r2[type="radio" name="raz" value="2"]
  | Na-22 
  input#r3[type="radio" name="raz" value="3"]
  | №1 
  input#r4[type="radio" name="raz" value="4"]
  | №2 
  input#r5[type="radio" name="raz" value="5"]
  | №3 
  input#r5[type="radio" name="raz" value="6"]
  | №4 
.spectrometr
  .left_col
    .param
      .row
        p
          | X min
        input#x_min[type="number" value="0"]
      .row
        p
          | X max
        input#x_max[type="number" value="5000"]
      .row
        p
          | Y max
        input#y_max[type="number" value="5000"]
      .row
        p
          | Время
        input#time[type="number" value="1000"]
    .zoom
      button#points-info.btn.info
        | Информация
      .squaredTwo
        input#squaredTwo[type="checkbox" name="check" checked]
        label[for="squaredTwo"]
      p
        | Увеличить выбранную область
    .time-row
      .cc
        | Время
      p#full-time
        |  0 сек 
    #buttons
      .build-buttons
        button#build.btn
          | Построить
        button#stop.btn
          | Стоп
        button#clear.btn
          | Очистить
      #answer-field
        input#answer.answer[type="text"]
        button#check.btn
          | Ответить
  .demo-container
    #placeholder.demo-placeholder
