<div class="workplace">
    <div id="header">
      <table>

      <tr>
        <td><h4> Источники:</h4></td>
        <td><input type="radio" checked="checked" name="raz" id="r1" value="1"/><label for="r1">Сs-137 </label></td>
        <td><input type="radio" name="raz" id="r2" value="2"/><label for="r2">Na-22 </label></td>
        <td><input type="radio" name="raz" id="r3" value="3"/><label for="r3">№1 </label></td>
        <td> <input type="radio" name="raz" id="r4" value="4"/><label for="r4">№2 </label></td>
        <td> <input type="radio" name="raz" id="r5" value="5"/><label for="r5">№3 </label></td>
        <td> <input type="radio" name="raz" id="r5" value="6"/><label for="r5">№4 </label></td>
      </tr>
      </table>
    </div>

  <div class="spectrometr">
    <div class="left_col">
      <div class="param">
        <form id="definition">
          <table class="tg">
            <tr>
              <td class="tg-031e">X min<br></td>
              <td class="tg-031e"><input type="number" value="0" id="x_min"></td>
            </tr>
            <tr>
              <td class="tg-031e">X max</td>
              <td class="tg-031e"><input type="number" value="5000" id="x_max"></td>
            </tr>
            <tr>
              <td class="tg-031e">Y max</td>
              <td class="tg-031e"><input type="number" value="5000" id="y_max"></td>
            </tr>
            <tr>
              <td class="tg-031e">Время</td>
              <td class="tg-031e"><input type="number" value="1000" id="time"></td>
            </tr>
            </table>
            <hr>
            <table class="tg">
            <tr>
              <th><div class="squaredTwo"><input id="squaredTwo" type="checkbox" name="check"><label for="squaredTwo"></label></div></th>
              <th class="th-01" style=""> Увеличить выбранную область</th>
            </tr>
          </table>

        </form>
      </div>
      <div id="buttons">
        <div class="build-buttons">
            <button id="build">Построить</button>
            <button id="clear">Очистить</button>
            <br>
        </div>
        <div id="answer-field">
            <input type="text" id="answer">
            <button id="check">Ответить</button>
            <br>
        </div>
        <div id="warning-text"><p>Внимание! В ответе необходимо указать большую энергию пика</p></div>
      </div>
    </div>
    <div class="demo-container">
      <div id="placeholder" class="demo-placeholder"></div>
    </div>
  </div>


  <p id="hoverdata"></p>

 <!-- <div id="description">
    <form name="firstform">
      <input type="text" id="text-field" value="тестовое поле">
    </form>
    <button id="test">test</button>
    <h3>Что есть в программе:</h3>
    <h4>новое от 19.04</h4>
    <li>Добавлен пик обратного поглощения</li>
    <li>Линии заменены на точки</li>
    <h4>новое от 23.03</h4>
        <li>изменен вид для ввода ответа</li>
        <li>немного изменений в верстке</li>
    <h4>новое от 22.03</h4>
        <li> добавлена первая задача ( определение энергии пика)
                    (энергия первого источника 0.6617 мэв)</li>
      <h4>новое от 4.03</h4>
      <li>добавлено масштабирование(довольно корявое)</li>
      <h4>новое от 1.03</h4>
      <ul>
        <li>Добавлена возможность строить спектры с двумя пиками полного поглощения (источник №4 содержит два пика) </li>
      </ul>
      <h4> новое 25.02</h4>
        <ul>
          <li>Добавлена зависимость количества отсчётов от времени измерений </li>
          <li>Масштаб по Y</li>
        </ul>
      <h4>cделано ранее:</h4>  
      <ul>
      <li>Моделируемый спектр зависит от выбора номера источника</li>
      <li>Можно задавать максимальный и минимальный канал</li>
      <li>Можно видеть количество отсчётов в зависимости от канала</li>
      <li>Распределение точек по Пуассону</li>
      <h4> Что хочу сделать:</h4>
      <p>Масштабирование мышкой</p>
      <p>Различные задания</p>
      <p>Страницы с описаниями</p>
      </ul>
    </div>

-->
</div>