@media only screen and (max-device-width : 640px) {
  #header {
    font-size: 2.2em;
    box-sizing: padding-box;
    padding-bottom: 0.5%;
  }
  #header h4 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .param {
    padding-left: 0%;
    margin-top: 20%;
    height: 28%;
    width: 100%;
    border-bottom: 1px solid #1a6b1c;
    padding-bottom: 2%;
  }

  .param  input{
      margin-left: 10%;
      margin-right: 10%;
      width: 80%!important;
      margin-bottom: 4%;
    }
   .param p {
      width: 90%;
      margin-top: 1%;
      margin-left: 4%;
      text-align: center;
      padding-bottom: 3%;
      font-size: 1.8em;
    }
  }

//////////RADIO BUTTON/////////////
